.search-box{
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 40px;
  padding: 5px 5px 5px 20px;
}

.search-box input{
  width: 400px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-box button{
  border: none;
  background-color: var(--asset-color);
  border-radius: 50%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

/* ---- Responsive ---- */

@media (max-width: 666px){
  .search-box{
    width: 90%;
  }
  .search-box input{
    width: 100%;
  }
}
